.tips-tricks {
    padding: 150px 0;

    &__title,
    &__subtitle {
        text-align: center;
    }

    &__title {
        font-size: 61px;
        margin-bottom: 34px;
    }

    &__subtitle {
        font-family: $monserrat;
        max-width: 775px;
        font-size: 20px;
        margin: 0 auto 25px;
    }
    
    &__book-btn {
        display: block;
        margin: 0 auto 100px;
    }

    &__list-item {
        display: flex;
        justify-content: space-between;
    }

}